.presentation {
  background-color: #0c1b3b;
  color: white;
  margin-right: 30%;
}

.button {
  color: orange;
  background-color: #0c1b3b;
  border-color: orange;
  width: 80px;
  height: 30px;
  padding: 0;
}
.p {
  color: red;
  margin-right: 20%;
}
